@import 'global';
@import 'animations';

.navbar{
    width: 100%;
    padding: 20px 0px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    transition: all .2s linear;
    background-color: #fff;

    &.scrolled{
        padding: 10px 0px;
        box-shadow: 0px 0px 10px rgba($color: #661B54 , $alpha: .6);

        .brand-img{
            height: 60px;
        }
    }

    .content{
        width: 100%;
        display: flex;
        align-items: center;
        align-content: center;
        justify-content: space-between;

        .hamburger{
            display: none;
            .line{
                width: 30px;
                height: 3px;
                background-color: #661B54;
                display: block;
                margin: 8px auto;
                transition: all 0.3s ease-in-out;
            }
            &.active{
                transition: all 0.3s ease-in-out;
                transition-delay: 0.6s;
                transform: rotate(45deg);
                .line{
                    &:nth-child(2){
                        width: 0px;
                    }
                    &:nth-child(1) ,
                    &:nth-child(3){
                        transition-delay: 0.3s;
                    }   
                    &:nth-child(1){
                        transform: translateY(6.5px);
                    }
                    &:nth-child(3){
                        transform: translateY(-15px) rotate(90deg);
                    }                             
                }
            }
        }

        .brand-name{
            .brand-img{
                width: 120px;
                height: 70px;
                object-fit: contain;
            }
        }

        .navbar-nav{
            flex-direction: row;

            .nav-item{
                margin: 0px 10px;

                &.nav-dropdown{
                    display: flex;
                    align-items: center;
                    align-content: center;
                    justify-content: center;

                    &::after{
                        content: '\f078';
                        display: inline-block;
                        font-style: normal;
                        font-variant: normal;
                        text-rendering: auto;
                        -webkit-font-smoothing: antialiased;
                        font-family: "Font Awesome 5 Free";
                        font-weight: 900;
                        margin-right: 10px;
                        transition: all .2s linear;
                    }

                    .dropdown-list{
                        position: absolute;
                        width: 90%;
                        top: 100%;
                        left: 5%;
                        right: 5%;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        align-content: center;
                        padding: 20px 15px;
                        border-radius: 10px;
                        background-color: #fff;
                        box-shadow: 0px 0px 10px rgba($color: #661B54, $alpha: .13);
                        z-index: 9999 !important;
                        transform: translateY(50px);
                        opacity: 0;
                        visibility: hidden;
                        transition: all .4s linear;
                        .close{
                            position: absolute;
                            top: 10px;
                            left: 10px;
                            z-index: 99;
                            display: none;
                        }

                        .nav-list{
                            width: fit-content;
                            
                            .nav-list-item{
                                padding: 20px 0px;

                                a{
                                    color: #000;
                                    font-size: 15px;
                                    font-weight: 600;
                                    margin: 0px;
                                }

                                &:hover{
                                    a{
                                        color: #661B54;
                                    }
                                }
                            }
                        }
                    }

                    &:hover{
                        .nav-link{
                            color: #661B54;
                        }

                        &::after{
                            transform: rotate(180deg);
                            color: #661B54;
                        }

                        .dropdown-list{
                            opacity: 1;
                            visibility: visible;
                            transform: translateY(0px);
                        }
                    }
                }

                .nav-link{
                    color: #000;
                    font-size: 15px;
                    font-weight: 600;

                    &:hover{
                        color: #661B54;
                    }
                }
            }
        }

        .icon-content{
            display: flex;
            justify-content: center;
            align-content: center;
            align-items: center;

            .icon-item{
                margin: 0px 10px;

                .icon-link{
                    width: 46px;
                    height: 46px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    align-content: center;
                    border-radius: 50%;
                    border: 1px solid #661B54;
                    position: relative;

                    i{
                        font-size: 20px;
                        color: #661B54;
                    }

                    .count{
                        width: 20px;
                        height: 20px;
                        position: absolute;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        align-content: center;
                        border-radius: 50%;
                        top: -6px;
                        right: -6px;
                        background-color: #661B54;
                        color: #fff;
                        font-size: 15px;
                    }
                }
            }

        
        }
    }
}

.cart-contain{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    visibility: hidden;
    z-index: 99999 !important;
    opacity: 0;

    &.active{
        opacity: 1 !important;
        visibility: visible;
        
        .overlay{
            opacity: 1 !important;
            visibility: visible !important;
            transition: all .4s linear;
        }
    
        .cart-data{
            left: 0% !important;
            transition: all .4s linear;
        }
    }

    .overlay{
        width: 100%;
        height: 100%;
        background-color: rgba($color: #000000, $alpha: .5);
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        visibility: hidden;
        transition: all .4s linear;
    }

    .cart-data{
        width: 400px;
        height: 100%;
        position: absolute;
        top: 0;
        left: -100%;
        z-index: 999;
        background-color: #fff;
        transition: all .4s linear;

        .cart-heading{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            align-content: center;
            padding: 20px 10px;
            border-bottom: 1px solid #888;
            margin-bottom: 20px;
            
            h4{
                color: #000;
                font-size: 20px;
                font-weight: 700;
                margin: 0px;
            }
            
            .close-container{
                position: relative;
                cursor: pointer;
                width: 40px;
                height: 40px;
                display: flex;
                align-items: center;
                justify-content: center;
                align-content: center;

                .leftright , .rightleft{
                    height: 3px;
                    width: 40px;
                    position: absolute;
                    background-color: #000;
                    transition: all .3s ease-in;
                    border-radius: 2px;
                    cursor: pointer;
                }

                .leftright{
                    transform: rotate(45deg);
                }

                .rightleft{
                    transform: rotate(-45deg);
                }

                &:hover{
                    .leftright , .rightleft{
                        background-color: #661B54;
                    }

                    .leftright{
                        transform: rotate(-45deg);
                    }

                    .rightleft{
                        transform: rotate(45deg);
                    }
                }
            }
        }

        .cart-products{
            width: 100%;
            height: 400px;
            overflow-x: hidden;
            overflow-y: scroll;
            padding: 0px 10px;

            .product{
                width: 100%;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                align-content: center;
                position: relative;
                padding: 10px 0px;
                border-bottom: 1px solid rgba($color: #000000, $alpha: .4);

                &:last-child{
                    border: 0px;
                }

                .img-content{
                    width: 100px;
                    height: 100px;
                    
                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        object-position: center;
                    }
                }

                .product-content{
                    width: 100%;
                    padding-right: 10px;

                    h4{
                        color: #000;
                        font-size: 20px;
                        font-weight: 600;
                        margin-bottom: 20px;
                    }

                    p{
                        color: #888;
                        font-size: 15px;
                        font-weight: 500;
                        margin: 0px;
                    }
                    
                    .close-container{
                        position: absolute;
                        top: 10px;
                        left: 10px;
                        cursor: pointer;
                        width: 20px;
                        height: 20px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        align-content: center;

                        .leftright , .rightleft{
                            height: 3px;
                            width: 20px;
                            position: absolute;
                            background-color: #000;
                            transition: all .3s ease-in;
                            border-radius: 2px;
                            cursor: pointer;
                        }

                        .leftright{
                            transform: rotate(45deg);
                        }

                        .rightleft{
                            transform: rotate(-45deg);
                        }

                        &:hover{
                            .leftright , .rightleft{
                                background-color: #661B54;
                            }

                            .leftright{
                                transform: rotate(-45deg);
                            }

                            .rightleft{
                                transform: rotate(45deg);
                            }
                        }
                    }
                }
            }
        }

        .button-contain{
            width: 100%;
            padding: 20px 20px;
            display: flex;
            justify-content: space-between;
            align-content: center;
            align-items: center;
            position: absolute;
            bottom: 0;
            left: 0;
            z-index: 99;
            background-color: #fff;
        }
    }
}

header{
    width: 100%;
    background-color: #f9f3eb;
    padding: 150px 0px 40px 0px;

    .item{
        width: 100%;

        .content{
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;

            h4{
                color: #661B54;
                font-size: 20px;
                font-weight: 500;
                margin: 0px;
                opacity: 0;
                transform: translateY(-10px);
                transition: transform 500ms linear;
            }

            h6{
                color: #000;
                font-size: 20px;
                font-weight: 900;
                margin: 20px 0px;
                opacity: 0;
                transform: translateX(-10px);
                transition: transform 500ms linear;
            }

            p{
                color: #888;
                font-size: 15px;
                font-weight: 500;
                line-height: 2.5rem;
                margin-bottom: 20px;
                opacity: 0;
                transform: translateX(10px);
                transition: transform 500ms linear;
            }

            .button-contain{
                display: flex;
                align-items: center;
                align-content: center;
                opacity: 0;
                transform: translateY(10px);
                transition: transform 500ms linear;

                a{
                    margin: 0px 10px;
                }
            }
        }

        .image-content{
            width: 100%;
            height: 400px;
            opacity: 0;
            transform: scale(0);
            transition: transform 500ms linear;

            img{
                width: 100%;
                height: 100%;
                object-fit: contain;
                object-position: center;
            }
        }
    }

    .owl-item.active{
        .content{
            h4 , h6 , p , .button-contain{
                opacity: 1 !important;
                transform: translate(0px , 0px) !important;
            }
        }

        .image-content{
            opacity: 1;
            transform: scale(1) !important;
        }
    }
}

.small-banners{
    width: 100%;
    padding-top: 50px;

    .box{
        width: 100%;
        height: 300px;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        overflow: hidden;

        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            position: absolute;
            top: 0;
            left: 0;
            transition: all .4s linear;
        }

        .content{
            padding: 20px;
            position: relative;

            h4{
                color: #fff;
                font-size: 20px;
                font-weight: 600;
                margin-bottom: 10px;
                transition: all .3s linear;
            }
        }

        &:hover{
            img{
                transform: scale(1.2);
            }

            h4{
                transform: translateX(-10px);
            }
        }
    }
}

.products{
    width: 100%;
    padding: 50px 0px;
    background-color: #F4F2F2;
    &.most-see{
        background-color: #fff;
        .owl-stage{
            padding: 30px 0px;
        }
    }
}   

.banner{
    width: 100%;
    padding: 50px 0px 0px 0px;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: right !important;
    &.small-banner{
        padding: 40px 10px;
        background-position: left !important;
    }
    &.details-banner{
        background: url('../images/header_contain.png');
        position: relative;
        z-index: 9;

        &::after{
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: rgba($color: #fff , $alpha: .7);
            top: 0;
            left: 0;
            z-index: -1;
        }
    }
    
    &.white-color{
        
        h6{
            color: #fff !important; 
        }

        p{
            color: #f8f8f8 !important;
        }
    }

    .content{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        
        h4{
            color: #661B54;
            font-size: 25px;
            font-weight: 900;
            margin: 0px;
        }

        h6{
            color: #000000;
            font-size: 20px;
            font-weight: 600;
            margin: 20px 0px;
        }

        p{
            color: #222;
            font-size: 15px;
            font-weight: 500;
            line-height: 2.5rem;
            margin-bottom: 20px;
        }
    }

    .image-content{
        width: 100%;
        height: 500px;
        img{
            width: 100%;
            height: 100%;
            object-fit: contain;
            object-position: center;
        }
    }
}

footer{
    width: 100%;
    padding: 50px 0px 20px;
    background-color: #f8f8f8;

    .content{
        .brand-name{
            img{
                width: 100px;
                height: 60px;
                object-fit: contain;
                margin-bottom: 20px;
            }
        }

        p{
            color: #666;
            font-size: 14px;
            font-weight: 500;
            line-height: 2.5rem;
        }

        .socail-media{
            display: flex;
            align-items: center;
            align-content: center;
            margin: 34px 0px;
            
            li{
                margin: 0px 0px 0px 10px;

                &:last-child{
                    margin: 0px;
                }
                
                a{
                    width: 40px;
                    height: 40px;
                    border: 1px solid #661B54;
                    border-radius: 10px;
                    display: flex;
                    align-items: center;
                    align-content: center;
                    justify-content: center;

                    i{
                        color: #661B54;
                        font-size: 15px;
                    }

                    &:hover{
                        i{
                            animation: pulse  .4s linear;
                        }
                    }
                }
            }
        }

        .payment{
            width: 100%;
            height: 60px;
            object-fit: contain;
            object-position: right;
        }

        h4{
            color: #661B54;
            font-size: 20px;
            font-weight: 900;
            margin-bottom: 25px;
            text-align: center;
            padding-right: 35px;
        }

        .imp-link{
            width: 100%;
            text-align: center;
            li{
                margin: 0px 0px 30px 0px;

                &:last-child{
                    margin: 0px;
                }

                a{
                    color: #000000;
                    font-size: 15px;
                    font-weight: 700;
                }
            }
        }
    }
}

.copyright{
    width: 100%;
    padding: 5px 0px;
    background-color: #f8f8f8;
    text-align: center;
    
    p{
        color: #000;
        font-size: 15px;
        margin: 0px;
    }
}

.scroll-top-btn{
    width: 40px;
    height: 40px;
    position: fixed;
    bottom: 10px;
    left: 10px;
    background-color: #661B54;
    border-radius: 10px;
    z-index: 99;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;

    i{
        color: #fff;
        font-size: 16px;
    }
}

@import 'media';