/*start general properties for website*/
@font-face {
  font-family: "ExpoArabic";
  src: url(../fonts/ExpoArabic/ExpoArabic-Medium.ttf);
  font-weight: 700;
}

@font-face {
  font-family: "ExpoArabic";
  src: url(../fonts/ExpoArabic/ExpoArabic-Book.ttf);
  font-weight: 500;
}

@font-face {
  font-family: "ExpoArabic";
  src: url(../fonts/ExpoArabic/ExpoArabic-SemiBold.ttf);
  font-weight: 900;
}

* {
  margin: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "ExpoArabic" , sans-serif;
  scroll-behavior: smooth;
}

*::-moz-selection {
  background-color: #661B54;
  color: #fff;
}

*::selection {
  background-color: #661B54;
  color: #fff;
}

*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background-color: #ccc;
}

*::-webkit-scrollbar-thumb {
  background: #661B54;
  border-radius: 8px;
}

*::-webkit-scrollbar-thumb:hover {
  background: #FFD371;
}

.overflowNone {
  overflow: hidden;
}

.btn:focus,
button:focus,
input:focus,
.form-control:focus {
  outline-width: 0px !important;
  outline-color: transparent !important;
  -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
          box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
}

a {
  text-decoration: none !important;
}

ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.owl-theme .owl-dots .owl-dot span {
  width: 20px;
  height: 4px;
  border-radius: 4px;
  background-color: #661B54;
  opacity: .5;
  -webkit-transition: all .5s linear;
  transition: all .5s linear;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background-color: #661B54;
  opacity: 1;
}

.overflowNone {
  overflow: hidden;
}

.custom-btn {
  z-index: 1;
  position: relative;
  font-size: inherit;
  font-family: inherit;
  padding: 8px 12px;
  width: 150px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  outline: none;
  border: none;
  font-weight: 900;
  border: 1px solid #661B54;
  cursor: pointer;
}

.custom-btn.primary-btn {
  background-color: #661B54;
  color: #fff;
}

.custom-btn.primary-btn::before {
  background-color: #fff;
}

.custom-btn.secondary-btn {
  color: #661B54;
}

.custom-btn.secondary-btn::before {
  background-color: #661B54;
}

.custom-btn::before {
  content: '';
  z-index: -1;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  -webkit-transform-origin: center top;
          transform-origin: center top;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transition: -webkit-transform 0.25s ease-in-out;
  transition: -webkit-transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out, -webkit-transform 0.25s ease-in-out;
}

.custom-btn:hover.primary-btn {
  color: #661B54;
}

.custom-btn:hover.secondary-btn {
  border-color: #661B54;
  color: #fff;
}

.custom-btn:hover::before {
  -webkit-transform-origin: center bottom;
          transform-origin: center bottom;
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
}

.heading {
  width: 100%;
  margin-bottom: 50px;
  text-align: center;
}

.heading h4 {
  color: #000000;
  font-size: 20px;
  font-weight: 900;
  padding: 0px 30px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0px auto 20px;
  position: relative;
}

.heading h4::After, .heading h4::before {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  top: calc(50% - 10px);
  background: url("../images/chair.svg");
  background-position: center;
  background-size: contain;
  -webkit-filter: invert(13%) sepia(25%) saturate(5680%) hue-rotate(290deg) brightness(98%) contrast(94%);
          filter: invert(13%) sepia(25%) saturate(5680%) hue-rotate(290deg) brightness(98%) contrast(94%);
}

.heading h4::After {
  right: 0px;
}

.heading h4::before {
  left: 0px;
}

.heading p {
  color: #999;
  font-size: 15px;
  font-weight: 500;
  margin: 0px;
}

.product-box {
  width: 100%;
  border-radius: 20px;
  -webkit-box-shadow: 0px 0px 10px rgba(102, 27, 84, 0.02);
          box-shadow: 0px 0px 10px rgba(102, 27, 84, 0.02);
  overflow: hidden;
  background-color: #fff;
  -webkit-transition: all .3s linear;
  transition: all .3s linear;
}

.product-box .image-content {
  width: 100%;
  height: 300px;
  position: relative;
}

.product-box .image-content .icon-link {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #661B54;
  border-radius: 50%;
  opacity: 0;
  -webkit-transition: all .3s linear;
  transition: all .3s linear;
  z-index: 99;
}

.product-box .image-content .icon-link i {
  color: #fff;
  font-size: 14px;
  -webkit-transition: all .3s linear;
  transition: all .3s linear;
}

.product-box .image-content .icon-link:hover {
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 10px rgba(102, 27, 84, 0.2);
          box-shadow: 0px 0px 10px rgba(102, 27, 84, 0.2);
}

.product-box .image-content .icon-link:hover i {
  -webkit-animation: pulse 1s linear;
          animation: pulse 1s linear;
  color: #661B54;
}

.product-box .image-content img {
  width: 100%;
  height: 100%;
  -o-object-position: center;
     object-position: center;
  -webkit-transition: all .4s linear;
  transition: all .4s linear;
}

.product-box .content {
  width: 100%;
  padding: 20px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.product-box .content h4 {
  color: #000000;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  margin: 0px;
}

.product-box .content .flex-content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 20px 0px;
}

.product-box .content .flex-content p {
  font-size: 15px;
  font-weight: 500;
  margin: 0px;
}

.product-box .content .flex-content p.price-after {
  color: #661B54;
}

.product-box .content .flex-content p.price-before {
  color: #999;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
  padding: 0px 5px;
  z-index: 9;
}

.product-box .content .flex-content p.price-before::After {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  z-index: -1;
  background-color: #999;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.product-box:hover {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.product-box:hover .image-content .icon-link {
  -webkit-animation: rotate-scale-up .5s linear;
          animation: rotate-scale-up .5s linear;
  opacity: 1;
}

/***************************** Start Animations *****************************/
@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg) scale3d(0.8, 0.8, 0.8);
            transform: rotate(0deg) scale3d(0.8, 0.8, 0.8);
  }
  100% {
    -webkit-transform: rotate(360deg) scale3d(1, 1, 1);
            transform: rotate(360deg) scale3d(1, 1, 1);
  }
}
@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg) scale3d(0.8, 0.8, 0.8);
            transform: rotate(0deg) scale3d(0.8, 0.8, 0.8);
  }
  100% {
    -webkit-transform: rotate(360deg) scale3d(1, 1, 1);
            transform: rotate(360deg) scale3d(1, 1, 1);
  }
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
    opacity: 0;
  }
  50% {
    -webkit-transform: scale3d(0.8, 0.8, 0.8);
            transform: scale3d(0.8, 0.8, 0.8);
    opacity: .5;
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
    opacity: 1;
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
    opacity: 0;
  }
  50% {
    -webkit-transform: scale3d(0.8, 0.8, 0.8);
            transform: scale3d(0.8, 0.8, 0.8);
    opacity: .5;
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
    opacity: 1;
  }
}

/*dropdown animation*/
@-webkit-keyframes dropdown-animate {
  0% {
    opacity: 0;
    -webkit-transform: rotateX(-90deg);
            transform: rotateX(-90deg);
  }
  50% {
    -webkit-transform: rotateX(20deg);
            transform: rotateX(20deg);
  }
  100% {
    opacity: 1;
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
  }
}
@keyframes dropdown-animate {
  0% {
    opacity: 0;
    -webkit-transform: rotateX(-90deg);
            transform: rotateX(-90deg);
  }
  50% {
    -webkit-transform: rotateX(20deg);
            transform: rotateX(20deg);
  }
  100% {
    opacity: 1;
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
  }
}

/*rotation animation*/
@-webkit-keyframes rotation {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}
@keyframes rotation {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

/*spinner loading page*/
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/*start the wave animation*/
@-webkit-keyframes wave {
  0%,
  100% {
    -webkit-clip-path: polygon(0% 45%, 15% 44%, 32% 50%, 54% 60%, 70% 61%, 84% 59%, 100% 52%, 100% 100%, 0% 100%);
            clip-path: polygon(0% 45%, 15% 44%, 32% 50%, 54% 60%, 70% 61%, 84% 59%, 100% 52%, 100% 100%, 0% 100%);
  }
  50% {
    -webkit-clip-path: polygon(0% 60%, 16% 65%, 34% 66%, 51% 62%, 67% 50%, 84% 45%, 100% 46%, 100% 100%, 0% 100%);
            clip-path: polygon(0% 60%, 16% 65%, 34% 66%, 51% 62%, 67% 50%, 84% 45%, 100% 46%, 100% 100%, 0% 100%);
  }
}
@keyframes wave {
  0%,
  100% {
    -webkit-clip-path: polygon(0% 45%, 15% 44%, 32% 50%, 54% 60%, 70% 61%, 84% 59%, 100% 52%, 100% 100%, 0% 100%);
            clip-path: polygon(0% 45%, 15% 44%, 32% 50%, 54% 60%, 70% 61%, 84% 59%, 100% 52%, 100% 100%, 0% 100%);
  }
  50% {
    -webkit-clip-path: polygon(0% 60%, 16% 65%, 34% 66%, 51% 62%, 67% 50%, 84% 45%, 100% 46%, 100% 100%, 0% 100%);
            clip-path: polygon(0% 60%, 16% 65%, 34% 66%, 51% 62%, 67% 50%, 84% 45%, 100% 46%, 100% 100%, 0% 100%);
  }
}

@-webkit-keyframes niceAnimate {
  0% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  50% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

@keyframes niceAnimate {
  0% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  50% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

@-webkit-keyframes translation {
  0% {
    -webkit-transform: translateZ(0%);
            transform: translateZ(0%);
  }
  100% {
    -webkit-transform: translateZ(10%);
            transform: translateZ(10%);
  }
}

@keyframes translation {
  0% {
    -webkit-transform: translateZ(0%);
            transform: translateZ(0%);
  }
  100% {
    -webkit-transform: translateZ(10%);
            transform: translateZ(10%);
  }
}

@-webkit-keyframes rotate-scale-up {
  0% {
    -webkit-transform: scale(1) rotateZ(0);
    transform: scale(1) rotateZ(0);
  }
  50% {
    -webkit-transform: scale(0.5) rotateZ(180deg);
    transform: scale(0.5) rotateZ(180deg);
  }
  100% {
    -webkit-transform: scale(1) rotateZ(360deg);
    transform: scale(1) rotateZ(360deg);
  }
}

@keyframes rotate-scale-up {
  0% {
    -webkit-transform: scale(1) rotateZ(0);
    transform: scale(1) rotateZ(0);
  }
  50% {
    -webkit-transform: scale(0.5) rotateZ(180deg);
    transform: scale(0.5) rotateZ(180deg);
  }
  100% {
    -webkit-transform: scale(1) rotateZ(360deg);
    transform: scale(1) rotateZ(360deg);
  }
}

@-webkit-keyframes vibrate {
  0% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-10px, 10px);
            transform: translate(-10px, 10px);
  }
  40% {
    -webkit-transform: translate(-10px, -10px);
            transform: translate(-10px, -10px);
  }
  60% {
    -webkit-transform: translate(10px, 10px);
            transform: translate(10px, 10px);
  }
  80% {
    -webkit-transform: translate(10px, -10px);
            transform: translate(10px, -10px);
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@keyframes vibrate {
  0% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-10px, 10px);
            transform: translate(-10px, 10px);
  }
  40% {
    -webkit-transform: translate(-10px, -10px);
            transform: translate(-10px, -10px);
  }
  60% {
    -webkit-transform: translate(10px, 10px);
            transform: translate(10px, 10px);
  }
  80% {
    -webkit-transform: translate(10px, -10px);
            transform: translate(10px, -10px);
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@-webkit-keyframes translateX {
  0%,
  100% {
    -webkit-transform: translateX(2px);
            transform: translateX(2px);
  }
  50% {
    -webkit-transform: translateX(-2px);
            transform: translateX(-2px);
  }
}

@keyframes translateX {
  0%,
  100% {
    -webkit-transform: translateX(2px);
            transform: translateX(2px);
  }
  50% {
    -webkit-transform: translateX(-2px);
            transform: translateX(-2px);
  }
}

@-webkit-keyframes translateY {
  0%,
  100% {
    -webkit-transform: translateY(2px);
            transform: translateY(2px);
  }
  50% {
    -webkit-transform: translateY(-2px);
            transform: translateY(-2px);
  }
}

@keyframes translateY {
  0%,
  100% {
    -webkit-transform: translateY(2px);
            transform: translateY(2px);
  }
  50% {
    -webkit-transform: translateY(-2px);
            transform: translateY(-2px);
  }
}

/*flipping*/
@-webkit-keyframes flip-in-hor-bottom {
  0% {
    -webkit-transform: rotateX(80deg) translate(-50%, -50%);
            transform: rotateX(80deg) translate(-50%, -50%);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0) translate(-50%, -50%);
            transform: rotateX(0) translate(-50%, -50%);
    opacity: 1;
  }
}
@keyframes flip-in-hor-bottom {
  0% {
    -webkit-transform: rotateX(80deg) translate(-50%, -50%);
            transform: rotateX(80deg) translate(-50%, -50%);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0) translate(-50%, -50%);
            transform: rotateX(0) translate(-50%, -50%);
    opacity: 1;
  }
}

/*shadow animation*/
@-webkit-keyframes shadow {
  0% {
    -webkit-box-shadow: 0px 0px 35px -4px #00a4e6;
            box-shadow: 0px 0px 35px -4px #00a4e6;
    opacity: 0 !important;
  }
  100% {
    -webkit-box-shadow: 0px 0px 35px -4px rgba(0, 164, 230, 0);
            box-shadow: 0px 0px 35px -4px rgba(0, 164, 230, 0);
  }
}
@keyframes shadow {
  0% {
    -webkit-box-shadow: 0px 0px 35px -4px #00a4e6;
            box-shadow: 0px 0px 35px -4px #00a4e6;
    opacity: 0 !important;
  }
  100% {
    -webkit-box-shadow: 0px 0px 35px -4px rgba(0, 164, 230, 0);
            box-shadow: 0px 0px 35px -4px rgba(0, 164, 230, 0);
  }
}

/*start rotate*/
@-webkit-keyframes rotate {
  0% {
    border-top-left-radius: 50%;
    border-top-right-radius: 60%;
    border-bottom-left-radius: 40%;
    border-bottom-right-radius: 55%;
  }
  25% {
    border-top-left-radius: 30%;
    border-top-right-radius: 10%;
    border-bottom-left-radius: 20%;
    border-bottom-right-radius: 70%;
  }
  50% {
    border-top-left-radius: 20%;
    border-top-right-radius: 40%;
    border-bottom-left-radius: 60%;
    border-bottom-right-radius: 30%;
  }
  75% {
    border-top-left-radius: 70%;
    border-top-right-radius: 20%;
    border-bottom-left-radius: 30%;
    border-bottom-right-radius: 50%;
  }
  100% {
    border-top-left-radius: 50%;
    border-top-right-radius: 60%;
    border-bottom-left-radius: 40%;
    border-bottom-right-radius: 55%;
  }
}
@keyframes rotate {
  0% {
    border-top-left-radius: 50%;
    border-top-right-radius: 60%;
    border-bottom-left-radius: 40%;
    border-bottom-right-radius: 55%;
  }
  25% {
    border-top-left-radius: 30%;
    border-top-right-radius: 10%;
    border-bottom-left-radius: 20%;
    border-bottom-right-radius: 70%;
  }
  50% {
    border-top-left-radius: 20%;
    border-top-right-radius: 40%;
    border-bottom-left-radius: 60%;
    border-bottom-right-radius: 30%;
  }
  75% {
    border-top-left-radius: 70%;
    border-top-right-radius: 20%;
    border-bottom-left-radius: 30%;
    border-bottom-right-radius: 50%;
  }
  100% {
    border-top-left-radius: 50%;
    border-top-right-radius: 60%;
    border-bottom-left-radius: 40%;
    border-bottom-right-radius: 55%;
  }
}

@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-30px);
            transform: translateX(-30px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-30px);
            transform: translateX(-30px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(30px);
            transform: translateX(30px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(30px);
            transform: translateX(30px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes move {
  25% {
    opacity: 1;
  }
  33% {
    opacity: 1;
    -webkit-transform: translateX(30px);
            transform: translateX(30px);
  }
  67% {
    opacity: 1;
    -webkit-transform: translateX(40px);
            transform: translateX(40px);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(55px) scale3d(0.5, 0.5, 0.5);
            transform: translateX(55px) scale3d(0.5, 0.5, 0.5);
  }
}

@keyframes move {
  25% {
    opacity: 1;
  }
  33% {
    opacity: 1;
    -webkit-transform: translateX(30px);
            transform: translateX(30px);
  }
  67% {
    opacity: 1;
    -webkit-transform: translateX(40px);
            transform: translateX(40px);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(55px) scale3d(0.5, 0.5, 0.5);
            transform: translateX(55px) scale3d(0.5, 0.5, 0.5);
  }
}

@-webkit-keyframes clip {
  0% {
    -webkit-clip-path: polygon(57% 41%, 100% 0, 52% 46%, 0 100%);
            clip-path: polygon(57% 41%, 100% 0, 52% 46%, 0 100%);
  }
  50% {
    -webkit-clip-path: polygon(57% 41%, 100% 0, 0 0, 0 100%);
            clip-path: polygon(57% 41%, 100% 0, 0 0, 0 100%);
  }
  100% {
    -webkit-clip-path: polygon(100% 100%, 100% 0, 0 0, 0 100%);
            clip-path: polygon(100% 100%, 100% 0, 0 0, 0 100%);
  }
}

@keyframes clip {
  0% {
    -webkit-clip-path: polygon(57% 41%, 100% 0, 52% 46%, 0 100%);
            clip-path: polygon(57% 41%, 100% 0, 52% 46%, 0 100%);
  }
  50% {
    -webkit-clip-path: polygon(57% 41%, 100% 0, 0 0, 0 100%);
            clip-path: polygon(57% 41%, 100% 0, 0 0, 0 100%);
  }
  100% {
    -webkit-clip-path: polygon(100% 100%, 100% 0, 0 0, 0 100%);
            clip-path: polygon(100% 100%, 100% 0, 0 0, 0 100%);
  }
}

@-webkit-keyframes sideClip {
  0% {
    -webkit-clip-path: polygon(0 0, 100% 0, 0 0, 0 100%);
            clip-path: polygon(0 0, 100% 0, 0 0, 0 100%);
  }
  50% {
    -webkit-clip-path: polygon(0 0, 100% 0, 0 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 0 100%, 0 100%);
  }
  100% {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}

@keyframes sideClip {
  0% {
    -webkit-clip-path: polygon(0 0, 100% 0, 0 0, 0 100%);
            clip-path: polygon(0 0, 100% 0, 0 0, 0 100%);
  }
  50% {
    -webkit-clip-path: polygon(0 0, 100% 0, 0 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 0 100%, 0 100%);
  }
  100% {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}

@-webkit-keyframes sideClip_2 {
  0% {
    -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 60%, 100% 100%, 55% 100%, 31% 100%, 46% 68%, 70% 53%, 60% 26%);
            clip-path: polygon(50% 0%, 100% 0, 100% 60%, 100% 100%, 55% 100%, 31% 100%, 46% 68%, 70% 53%, 60% 26%);
  }
  50% {
    -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 60%, 100% 100%, 55% 100%, 31% 100%, 46% 68%, 26% 33%, 11% 10%);
            clip-path: polygon(50% 0%, 100% 0, 100% 60%, 100% 100%, 55% 100%, 31% 100%, 46% 68%, 26% 33%, 11% 10%);
  }
  100% {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 60%, 100% 100%, 55% 100%, 0 100%, 0 59%, 0 31%, 0 14%);
            clip-path: polygon(0 0, 100% 0, 100% 60%, 100% 100%, 55% 100%, 0 100%, 0 59%, 0 31%, 0 14%);
  }
}

@keyframes sideClip_2 {
  0% {
    -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 60%, 100% 100%, 55% 100%, 31% 100%, 46% 68%, 70% 53%, 60% 26%);
            clip-path: polygon(50% 0%, 100% 0, 100% 60%, 100% 100%, 55% 100%, 31% 100%, 46% 68%, 70% 53%, 60% 26%);
  }
  50% {
    -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 60%, 100% 100%, 55% 100%, 31% 100%, 46% 68%, 26% 33%, 11% 10%);
            clip-path: polygon(50% 0%, 100% 0, 100% 60%, 100% 100%, 55% 100%, 31% 100%, 46% 68%, 26% 33%, 11% 10%);
  }
  100% {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 60%, 100% 100%, 55% 100%, 0 100%, 0 59%, 0 31%, 0 14%);
            clip-path: polygon(0 0, 100% 0, 100% 60%, 100% 100%, 55% 100%, 0 100%, 0 59%, 0 31%, 0 14%);
  }
}

@-webkit-keyframes toRightFromLeft {
  49% {
    -webkit-transform: translate(100%);
            transform: translate(100%);
  }
  50% {
    opacity: 0;
    -webkit-transform: translate(-100%);
            transform: translate(-100%);
  }
  51% {
    opacity: 1;
  }
}

@keyframes toRightFromLeft {
  49% {
    -webkit-transform: translate(100%);
            transform: translate(100%);
  }
  50% {
    opacity: 0;
    -webkit-transform: translate(-100%);
            transform: translate(-100%);
  }
  51% {
    opacity: 1;
  }
}

.navbar {
  width: 100%;
  padding: 20px 0px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
  background-color: #fff;
}

.navbar.scrolled {
  padding: 10px 0px;
  -webkit-box-shadow: 0px 0px 10px rgba(102, 27, 84, 0.6);
          box-shadow: 0px 0px 10px rgba(102, 27, 84, 0.6);
}

.navbar.scrolled .brand-img {
  height: 60px;
}

.navbar .content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navbar .content .hamburger {
  display: none;
}

.navbar .content .hamburger .line {
  width: 30px;
  height: 3px;
  background-color: #661B54;
  display: block;
  margin: 8px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.navbar .content .hamburger.active {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transition-delay: 0.6s;
          transition-delay: 0.6s;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.navbar .content .hamburger.active .line:nth-child(2) {
  width: 0px;
}

.navbar .content .hamburger.active .line:nth-child(1), .navbar .content .hamburger.active .line:nth-child(3) {
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

.navbar .content .hamburger.active .line:nth-child(1) {
  -webkit-transform: translateY(6.5px);
          transform: translateY(6.5px);
}

.navbar .content .hamburger.active .line:nth-child(3) {
  -webkit-transform: translateY(-15px) rotate(90deg);
          transform: translateY(-15px) rotate(90deg);
}

.navbar .content .brand-name .brand-img {
  width: 120px;
  height: 70px;
  -o-object-fit: contain;
     object-fit: contain;
}

.navbar .content .navbar-nav {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.navbar .content .navbar-nav .nav-item {
  margin: 0px 10px;
}

.navbar .content .navbar-nav .nav-item.nav-dropdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.navbar .content .navbar-nav .nav-item.nav-dropdown::after {
  content: '\f078';
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  margin-right: 10px;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}

.navbar .content .navbar-nav .nav-item.nav-dropdown .dropdown-list {
  position: absolute;
  width: 90%;
  top: 100%;
  left: 5%;
  right: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  padding: 20px 15px;
  border-radius: 10px;
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 10px rgba(102, 27, 84, 0.13);
          box-shadow: 0px 0px 10px rgba(102, 27, 84, 0.13);
  z-index: 9999 !important;
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all .4s linear;
  transition: all .4s linear;
}

.navbar .content .navbar-nav .nav-item.nav-dropdown .dropdown-list .close {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 99;
  display: none;
}

.navbar .content .navbar-nav .nav-item.nav-dropdown .dropdown-list .nav-list {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.navbar .content .navbar-nav .nav-item.nav-dropdown .dropdown-list .nav-list .nav-list-item {
  padding: 20px 0px;
}

.navbar .content .navbar-nav .nav-item.nav-dropdown .dropdown-list .nav-list .nav-list-item a {
  color: #000;
  font-size: 15px;
  font-weight: 600;
  margin: 0px;
}

.navbar .content .navbar-nav .nav-item.nav-dropdown .dropdown-list .nav-list .nav-list-item:hover a {
  color: #661B54;
}

.navbar .content .navbar-nav .nav-item.nav-dropdown:hover .nav-link {
  color: #661B54;
}

.navbar .content .navbar-nav .nav-item.nav-dropdown:hover::after {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  color: #661B54;
}

.navbar .content .navbar-nav .nav-item.nav-dropdown:hover .dropdown-list {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

.navbar .content .navbar-nav .nav-item .nav-link {
  color: #000;
  font-size: 15px;
  font-weight: 600;
}

.navbar .content .navbar-nav .nav-item .nav-link:hover {
  color: #661B54;
}

.navbar .content .icon-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar .content .icon-content .icon-item {
  margin: 0px 10px;
}

.navbar .content .icon-content .icon-item .icon-link {
  width: 46px;
  height: 46px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  border-radius: 50%;
  border: 1px solid #661B54;
  position: relative;
}

.navbar .content .icon-content .icon-item .icon-link i {
  font-size: 20px;
  color: #661B54;
}

.navbar .content .icon-content .icon-item .icon-link .count {
  width: 20px;
  height: 20px;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  border-radius: 50%;
  top: -6px;
  right: -6px;
  background-color: #661B54;
  color: #fff;
  font-size: 15px;
}

.cart-contain {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  visibility: hidden;
  z-index: 99999 !important;
  opacity: 0;
}

.cart-contain.active {
  opacity: 1 !important;
  visibility: visible;
}

.cart-contain.active .overlay {
  opacity: 1 !important;
  visibility: visible !important;
  -webkit-transition: all .4s linear;
  transition: all .4s linear;
}

.cart-contain.active .cart-data {
  left: 0% !important;
  -webkit-transition: all .4s linear;
  transition: all .4s linear;
}

.cart-contain .overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all .4s linear;
  transition: all .4s linear;
}

.cart-contain .cart-data {
  width: 400px;
  height: 100%;
  position: absolute;
  top: 0;
  left: -100%;
  z-index: 999;
  background-color: #fff;
  -webkit-transition: all .4s linear;
  transition: all .4s linear;
}

.cart-contain .cart-data .cart-heading {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
  padding: 20px 10px;
  border-bottom: 1px solid #888;
  margin-bottom: 20px;
}

.cart-contain .cart-data .cart-heading h4 {
  color: #000;
  font-size: 20px;
  font-weight: 700;
  margin: 0px;
}

.cart-contain .cart-data .cart-heading .close-container {
  position: relative;
  cursor: pointer;
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.cart-contain .cart-data .cart-heading .close-container .leftright, .cart-contain .cart-data .cart-heading .close-container .rightleft {
  height: 3px;
  width: 40px;
  position: absolute;
  background-color: #000;
  -webkit-transition: all .3s ease-in;
  transition: all .3s ease-in;
  border-radius: 2px;
  cursor: pointer;
}

.cart-contain .cart-data .cart-heading .close-container .leftright {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.cart-contain .cart-data .cart-heading .close-container .rightleft {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.cart-contain .cart-data .cart-heading .close-container:hover .leftright, .cart-contain .cart-data .cart-heading .close-container:hover .rightleft {
  background-color: #661B54;
}

.cart-contain .cart-data .cart-heading .close-container:hover .leftright {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.cart-contain .cart-data .cart-heading .close-container:hover .rightleft {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.cart-contain .cart-data .cart-products {
  width: 100%;
  height: 400px;
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 0px 10px;
}

.cart-contain .cart-data .cart-products .product {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  position: relative;
  padding: 10px 0px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}

.cart-contain .cart-data .cart-products .product:last-child {
  border: 0px;
}

.cart-contain .cart-data .cart-products .product .img-content {
  width: 100px;
  height: 100px;
}

.cart-contain .cart-data .cart-products .product .img-content img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.cart-contain .cart-data .cart-products .product .product-content {
  width: 100%;
  padding-right: 10px;
}

.cart-contain .cart-data .cart-products .product .product-content h4 {
  color: #000;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
}

.cart-contain .cart-data .cart-products .product .product-content p {
  color: #888;
  font-size: 15px;
  font-weight: 500;
  margin: 0px;
}

.cart-contain .cart-data .cart-products .product .product-content .close-container {
  position: absolute;
  top: 10px;
  left: 10px;
  cursor: pointer;
  width: 20px;
  height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.cart-contain .cart-data .cart-products .product .product-content .close-container .leftright, .cart-contain .cart-data .cart-products .product .product-content .close-container .rightleft {
  height: 3px;
  width: 20px;
  position: absolute;
  background-color: #000;
  -webkit-transition: all .3s ease-in;
  transition: all .3s ease-in;
  border-radius: 2px;
  cursor: pointer;
}

.cart-contain .cart-data .cart-products .product .product-content .close-container .leftright {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.cart-contain .cart-data .cart-products .product .product-content .close-container .rightleft {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.cart-contain .cart-data .cart-products .product .product-content .close-container:hover .leftright, .cart-contain .cart-data .cart-products .product .product-content .close-container:hover .rightleft {
  background-color: #661B54;
}

.cart-contain .cart-data .cart-products .product .product-content .close-container:hover .leftright {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.cart-contain .cart-data .cart-products .product .product-content .close-container:hover .rightleft {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.cart-contain .cart-data .button-contain {
  width: 100%;
  padding: 20px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 99;
  background-color: #fff;
}

header {
  width: 100%;
  background-color: #f9f3eb;
  padding: 150px 0px 40px 0px;
}

header .item {
  width: 100%;
}

header .item .content {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .item .content h4 {
  color: #661B54;
  font-size: 20px;
  font-weight: 500;
  margin: 0px;
  opacity: 0;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  -webkit-transition: -webkit-transform 500ms linear;
  transition: -webkit-transform 500ms linear;
  transition: transform 500ms linear;
  transition: transform 500ms linear, -webkit-transform 500ms linear;
}

header .item .content h6 {
  color: #000;
  font-size: 20px;
  font-weight: 900;
  margin: 20px 0px;
  opacity: 0;
  -webkit-transform: translateX(-10px);
          transform: translateX(-10px);
  -webkit-transition: -webkit-transform 500ms linear;
  transition: -webkit-transform 500ms linear;
  transition: transform 500ms linear;
  transition: transform 500ms linear, -webkit-transform 500ms linear;
}

header .item .content p {
  color: #888;
  font-size: 15px;
  font-weight: 500;
  line-height: 2.5rem;
  margin-bottom: 20px;
  opacity: 0;
  -webkit-transform: translateX(10px);
          transform: translateX(10px);
  -webkit-transition: -webkit-transform 500ms linear;
  transition: -webkit-transform 500ms linear;
  transition: transform 500ms linear;
  transition: transform 500ms linear, -webkit-transform 500ms linear;
}

header .item .content .button-contain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  opacity: 0;
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
  -webkit-transition: -webkit-transform 500ms linear;
  transition: -webkit-transform 500ms linear;
  transition: transform 500ms linear;
  transition: transform 500ms linear, -webkit-transform 500ms linear;
}

header .item .content .button-contain a {
  margin: 0px 10px;
}

header .item .image-content {
  width: 100%;
  height: 400px;
  opacity: 0;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform 500ms linear;
  transition: -webkit-transform 500ms linear;
  transition: transform 500ms linear;
  transition: transform 500ms linear, -webkit-transform 500ms linear;
}

header .item .image-content img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}

header .owl-item.active .content h4, header .owl-item.active .content h6, header .owl-item.active .content p, header .owl-item.active .content .button-contain {
  opacity: 1 !important;
  -webkit-transform: translate(0px, 0px) !important;
          transform: translate(0px, 0px) !important;
}

header .owl-item.active .image-content {
  opacity: 1;
  -webkit-transform: scale(1) !important;
          transform: scale(1) !important;
}

.small-banners {
  width: 100%;
  padding-top: 50px;
}

.small-banners .box {
  width: 100%;
  height: 300px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  overflow: hidden;
}

.small-banners .box img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: all .4s linear;
  transition: all .4s linear;
}

.small-banners .box .content {
  padding: 20px;
  position: relative;
}

.small-banners .box .content h4 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
  -webkit-transition: all .3s linear;
  transition: all .3s linear;
}

.small-banners .box:hover img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.small-banners .box:hover h4 {
  -webkit-transform: translateX(-10px);
          transform: translateX(-10px);
}

.products {
  width: 100%;
  padding: 50px 0px;
  background-color: #F4F2F2;
}

.products.most-see {
  background-color: #fff;
}

.products.most-see .owl-stage {
  padding: 30px 0px;
}

.banner {
  width: 100%;
  padding: 50px 0px 0px 0px;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: right !important;
}

.banner.small-banner {
  padding: 40px 10px;
  background-position: left !important;
}

.banner.details-banner {
  background: url("../images/header_contain.png");
  position: relative;
  z-index: 9;
}

.banner.details-banner::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  top: 0;
  left: 0;
  z-index: -1;
}

.banner.white-color h6 {
  color: #fff !important;
}

.banner.white-color p {
  color: #f8f8f8 !important;
}

.banner .content {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.banner .content h4 {
  color: #661B54;
  font-size: 25px;
  font-weight: 900;
  margin: 0px;
}

.banner .content h6 {
  color: #000000;
  font-size: 20px;
  font-weight: 600;
  margin: 20px 0px;
}

.banner .content p {
  color: #222;
  font-size: 15px;
  font-weight: 500;
  line-height: 2.5rem;
  margin-bottom: 20px;
}

.banner .image-content {
  width: 100%;
  height: 500px;
}

.banner .image-content img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}

footer {
  width: 100%;
  padding: 50px 0px 20px;
  background-color: #f8f8f8;
}

footer .content .brand-name img {
  width: 100px;
  height: 60px;
  -o-object-fit: contain;
     object-fit: contain;
  margin-bottom: 20px;
}

footer .content p {
  color: #666;
  font-size: 14px;
  font-weight: 500;
  line-height: 2.5rem;
}

footer .content .socail-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  margin: 34px 0px;
}

footer .content .socail-media li {
  margin: 0px 0px 0px 10px;
}

footer .content .socail-media li:last-child {
  margin: 0px;
}

footer .content .socail-media li a {
  width: 40px;
  height: 40px;
  border: 1px solid #661B54;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .content .socail-media li a i {
  color: #661B54;
  font-size: 15px;
}

footer .content .socail-media li a:hover i {
  -webkit-animation: pulse  .4s linear;
          animation: pulse  .4s linear;
}

footer .content .payment {
  width: 100%;
  height: 60px;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: right;
     object-position: right;
}

footer .content h4 {
  color: #661B54;
  font-size: 20px;
  font-weight: 900;
  margin-bottom: 25px;
  text-align: center;
  padding-right: 35px;
}

footer .content .imp-link {
  width: 100%;
  text-align: center;
}

footer .content .imp-link li {
  margin: 0px 0px 30px 0px;
}

footer .content .imp-link li:last-child {
  margin: 0px;
}

footer .content .imp-link li a {
  color: #000000;
  font-size: 15px;
  font-weight: 700;
}

.copyright {
  width: 100%;
  padding: 5px 0px;
  background-color: #f8f8f8;
  text-align: center;
}

.copyright p {
  color: #000;
  font-size: 15px;
  margin: 0px;
}

.scroll-top-btn {
  width: 40px;
  height: 40px;
  position: fixed;
  bottom: 10px;
  left: 10px;
  background-color: #661B54;
  border-radius: 10px;
  z-index: 99;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.scroll-top-btn i {
  color: #fff;
  font-size: 16px;
}

@media (max-width: 999px) {
  .navbar .hamburger {
    display: block !important;
  }
  .navbar.scrolled .navbar-nav {
    top: 84px !important;
  }
  .navbar .navbar-nav {
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 100px;
    padding: 20px 15px;
    right: -100%;
    z-index: 99999 !important;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    background-color: #fff;
    -webkit-transition: all .4s linear;
    transition: all .4s linear;
  }
  .navbar .navbar-nav.active-nav {
    right: 0px;
  }
  .navbar .navbar-nav .nav-item {
    margin: 0px 0px 20px 0px;
    width: 100%;
  }
  .navbar .navbar-nav .nav-item a {
    width: 100%;
  }
  .navbar .navbar-nav .nav-item:last-child {
    margin: 0px;
  }
  .navbar .navbar-nav .nav-item.nav-dropdown:hover .dropdown-list {
    opacity: none !important;
    visibility: none !important;
    -webkit-transform: none !important;
            transform: none !important;
  }
  .navbar .navbar-nav .nav-item.nav-dropdown::After {
    float: left;
  }
  .navbar .navbar-nav .nav-item.nav-dropdown .dropdown-list {
    width: 70% !important;
    height: 100vh !important;
    background-color: #fff !important;
    top: 0px !important;
    left: 15% !important;
    right: 15% !important;
    position: absolute !important;
    z-index: 99999 !important;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
    overflow-y: scroll !important;
    overflow-x: hidden !important;
    -webkit-transform: translateY(0px) !important;
            transform: translateY(0px) !important;
    opacity: 1 !important;
    visibility: visible;
    display: none;
  }
  .navbar .navbar-nav .nav-item.nav-dropdown .dropdown-list .close {
    display: block !important;
  }
  .navbar .navbar-nav .nav-item.nav-dropdown.active-dropdown-list .dropdown-list {
    display: block !important;
  }
  footer h4 {
    text-align: unset !important;
    padding: 0px !important;
  }
  footer .imp-link {
    text-align: unset !important;
  }
  .cart-contain .cart-data {
    width: 90% !important;
  }
  .cart-contain .cart-data .custom-btn {
    width: 140px !important;
  }
}
/*# sourceMappingURL=style.css.map */